body{
	font-size: 14px;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

.navbar-inverse{
    background:#D12E29; 
    border-color: white;
    min-height: 60px;
}
.navbar{
	font-size: 18px;
	
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-size: 25px;
font-weight: 900;
font-family: 'Oswald', sans-serif;
padding: 15px 15px;
margin-top: 5px;
}
.form-inline{
	margin-top: 12px;
}
.btn-custom-one, .btn-custom-one:hover, .btn-custom-one:focus{
	background: #463C3C;
	color: white;
	letter-spacing: 0px;
	
}
.glyphicon-user{
	color: white;
margin-right: 4px;
}
.headings h1{

	font-weight: bolder;
}
.headings p{
	font-family: georgia;
	font-size: 20px;
}
.btn-custom-two{
	
}
.nsocial h2 {
	font-weight: bolder;
	font-family: georgia;
	letter-spacing: 0px;
}
h4 {
	font-family: georgia;
}
h3{
	font-family: georgia;
}

.page-content{
	margin-top: 90px;
}

.nstuimg{
	
}


.error{
	color: red;
	font-size: 15px;
}

.success{
	color: green;
	font-size: 15px;
}

